extends layout

block content
  form(class='ui form' id='form' data-id=review._id)
    h4.ui.dividing.header Edit review
    div.field
      label Name
      input(type='text' id='name' name='name' placeholder='Name' value=review.name)
    div.field
      label Placetype
      input(type='text' id='placetype' name='placetype' placeholder='Placetype' value=review.placeType)
    div.field
      label Stars
      input(type='number' id='stars' name='stars' placeholder='stars' value=review.stars)
    div.ui.submit.button#js-edit Edit

  a(href="/reviews") All reviews