extends layout

block content
  p#message 
  form(class='ui form' id='form')
    h4.ui.dividing.header Search review
    div.field
      label Param
      select
        option(val='name') name
        option(val='placeType') placeType
        option(val='stars') stars
    div.field
      label Query
      input(type='text' id='query' name='query' placeholder='')
    div.ui.submit.button#js-search Search
    br
  div#response

  a(href="/reviews") All reviews