body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#js-delete {
  color: #e74c3c;
  cursor: pointer;
}
#js-delete:hover {
  color: #c0392b;
}